@model Phones.Models.Phone

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CameraPix)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CameraPix)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mfg)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mfg)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OS)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Condition)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Condition)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Release)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Release)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
