@model IEnumerable<ResumeMB.Models.Accomplishment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
             <th>
                    @Html.DisplayNameFor(model => model.Accomp)
             </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Job.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Accomp)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.AccomplishmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AccomplishmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AccomplishmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
